@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.container {
  display: flex;
  justify-content: center;
}

input{
  padding: 10px;
  outline: 0;
  border: 1px solid gray;
  font-size: 18px;
  width: -webkit-fill-available;
}

.autocomplete{
  margin: 50px;
  width: 300px;
}

.autocomplete-items {
  /* position: absolute; */
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
}

span{
  font-weight: 300;
}

strong{
  font-weight: 700;
  border-bottom: 1px solid #d4d4d4;
}